/* jumbotron */
.jumbotron {
    text-align: center;
}

/* Font */
h1, h2, p {
  font-family: 'Montserrat', sans-serif;
}

/* photos */
.biopic {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.ppic {
    height: 310.4px;
    width: 467.2px;
}

/* indentation */
.indent {
    text-indent: 50px;
}

/* footer */
html,body {
  height: 100%;
}
#page-content {
  flex: 1 0 auto;
}
#sticky-footer {
  flex-shrink: 0;
  margin-top: 5vh;
}

/* icons on footer */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
 .fa-instagram {
    background: #125688;
    color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
}
.fa-github {
    background: #080e14;
    color: white;
  }
  
