.jumbotron {
    text-align: center;
}
.biopic {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.ppic {
    height: 310.4px;
    width: 467.2px;
}
.indent {
    text-indent: 50px;
}
